@font-face {
    font-family: 'Poppins';
    src:url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: -1;
}

::-moz-selection { background-color: blue; color: white; }
::selection { background-color: blue; color: white; }

#wrapper {
    visibility: hidden;
    padding: 40px;
    width: 90%;
    margin-top: 90px;
    margin-bottom: 90px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #404040;
}

a:hover {
    color: #FFF;
    cursor: pointer;
}

a h1:hover {
    text-decoration: underline;
}

p a {
    color: #FFF;
    text-decoration: underline;
}

p a:hover {
    color: #404040;
}

.top {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 40px;
    background-color: black;
}

.bottom {
    position: fixed;
    width: 100%;
    padding: 40px;
    bottom: 0;
    background-color: black;
}

.print {
    position: fixed;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.store {
    color: #404040;
}

h1 {
    display: inline-block;
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
}

h1 .hover {
    display:none;
}
    h1:hover .normal {
      display: none;
    }
    h1:hover .hover {
      display:inline;  /* CHANGE IF FOR BLOCK ELEMENTS */
    }

.right {
    float: right;
}

h2 {

}

h3 {

}

p {
    font-size: 48px;
    line-height: 60px;
}

@media only screen and (max-width : 500px) {
    #wrapper {
        padding: 20px;
        margin-top: 60px;
        margin-bottom: 60px;
        width: 95%;
    }

    h1 .hover {
        display:none;
        visibility: hidden;
    }

    h1:hover .normal {
      display: block;
    }

    h1:hover .hover {
      display: none;
      visibility: hidden;
    }

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 34px;
        line-height: 42px;
    }

    .top {
        padding: 20px;
    }

    .bottom {
        padding: 20px;
    }

    .animation {
        width: 250px;
        height: 250px;
        margin-top: -125px;
        margin-left: -125px;
    }
}
